@model UserMessagesOutputModel
@inject IMessageService MessageService
@inject INotificationService NotificationService
@{
    ViewData["Title"] = "Control Panel";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var notificationsCount = NotificationService.GetNotificationsCount(userId);
}

<div class="container d-flex col-md-12 d-block mt-5 mb-5">
    <section id="tabs" class="w-100">
        <div class="container w-100">
            <h6 class="section-title h1">Control Panel</h6>
            <div class="row d-flex">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-new-messages-tab" data-toggle="tab" href="#nav-sent-messages" role="tab" aria-controls="nav-sent-messages" aria-selected="true">Sent Messages</a>
                            <a class="nav-item nav-link" id="nav-received-messages-tab" data-toggle="tab" href="#nav-received-messages" role="tab" aria-controls="nav-received-messages" aria-selected="false">Received Messages</a>
                            <a class="nav-item nav-link" id="nav-notifications-tab" data-toggle="tab" href="#nav-notifications" role="tab" aria-controls="nav-notifications" aria-selected="false">
                                Notifications
                                @if (notificationsCount > 0)
                                {
                                    <span class="badge badge-danger">@notificationsCount</span>
                                }
                            </a>
                            <a class="nav-item nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab" aria-controls="nav-comments" aria-selected="false">Comments</a>
                        </div>
                    </nav>
                    <div class="tab-content mt-5 text-dark" style="background-color:#007b5e;" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-sent-messages" role="tabpanel" aria-labelledby="nav-sent-messages-tab">
                            @await Html.PartialAsync("SentMessagesPartial", Model.SentMessages)
                        </div>
                        <div class="tab-pane fade" id="nav-received-messages" role="tabpanel" aria-labelledby="nav-received-messages-tab">
                            @await Html.PartialAsync("ReceivedMessagesPartial", Model.ReceivedMessages)
                        </div>
                        <div class="tab-pane fade" id="nav-notifications" role="tabpanel" aria-labelledby="nav-notifications-tab">
                            @await Html.PartialAsync("NotificationsPartial", Model.Notifications)
                        </div>
                        <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                            @await Html.PartialAsync("CommentsPartial", Model.Comments)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{

    @*@{ await Html.RenderPartialAsync("_MyScriptsPartial"); }*@

    <script>
        $(document).ready(function () {
            $('#dataTable1').DataTable({ responsive: true });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#dataTable2').DataTable({ responsive: true });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#dataTable3').DataTable({ responsive: true });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#dataTable4').DataTable({ responsive: true });
        });
    </script>
}