@using BookCreatorApp.Extensions
@model IEnumerable<CommentOutputModel>
@{
    ViewData["Title"] = "Default";
    var bookId = ViewData[GlobalConstants.BookId].ToString();
}
<link rel="stylesheet" type="text/css" href="/css/comments.css" />
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/en-gb.js"></script>
<script type="text/javascript" charset="utf8" src="~/js/jquery.timeago.js"></script>


@if (!Model.Any())
{

    <div class="card-body bg-white container border rounded">

        <p class="card-text">No comments for this book!</p>
    </div>
}
else
{
    <div class="container card">
        <div class="row">
            <div class="col-sm-12">
                <h3>Comments</h3>
            </div><!-- /col-sm-12 -->
        </div><!-- /row -->
        @foreach (var comment in Model)
        {
            <div class="row mb-4">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://png.pngtree.com/svg/20161021/de74bae88b.svg" style="height: 70px">
                    </div><!-- /thumbnail -->
                </div><!-- /col-sm-1 -->

                <div class="col">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>@comment.Author</strong> <span class="text-muted">@HelpingMethods.TimeAgo(comment.CommentedOn)</span>
                        </div>
                        <div class="panel-body">
                            @comment.Message
                        </div><!-- /panel-body -->
                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
            </div><!-- row -->
            <!-- /row -->
        }<!-- foreach -->
    </div><!-- /container -->
}