@inject IBookService BookService
@{
    ViewData["Title"] = "Home Page";
    var randomBook = BookService.GetRandomBook();
}

<div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-start">
        <div class="banner-content col-lg-7">
            <h5 class="text-white text-uppercase">Author: @randomBook.Author.Username</h5>
            <h1 class="text-uppercase">
                @randomBook.Title
            </h1>
            <p class="text-white pt-20 pb-20">
                @randomBook.Summary
            </p>
            @* //TODO: Check the class type *@
            <a asp-action="Details" asp-controller="Books" asp-route-id="@randomBook.Id" class="primary-btn text-uppercase link">Go to book</a>
        </div>
        <div class="col-lg-5 banner-right">
            <img class="img-fluid" src="img/header-img.png" alt="">
        </div>
    </div>
</div>

@section scripts{

    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}