@using System.Security.Claims
@inject IUserService  service
@{
    ViewData["Title"] = "LoggedHome";

    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="loggedHome container d-flex justify-content-around col-md-12 col-sm-6 card-group" style="margin-top:50px;">
    <div class="col-md-4" style="overflow: auto; margin-bottom: 20px;max-height:500px">
        <div class="col-md-12 border border-dark">
            <div class=" card-header text-center text-dark  container-fluid">Last Published Books</div>
            @* TODO: Last Published Books  *@

        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 col-sm-12 border border-dark" style="min-height: 20em; min-width: 10em">
            <div class=" card-header text-center text-dark"> Options</div>
            <div class="card-body">
                <a class="btn btn-info btn-block" asp-action="Profile" asp-controller="Users" asp-area="" asp-route-username="@this.User.Identity.Name">My profile</a>
                    <a asp-action="UserBooks" id="MyBooks" asp-controller="Books" asp-route-username="@this.User.Identity.Name" class="btn btn-info btn-block">My Books</a>
                    <a asp-action="BlockedUsers" asp-controller="Users" asp-route-id="@this.User.Identity.Name" class="btn btn-info btn-block">Blocked Users</a>
                    <a asp-action="AllBooks" asp-controller="Books" class="btn btn-info btn-block">All Books</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12  border border-dark" style="overflow: auto; margin-bottom: 20px;max-height:500px">
            <div class=" card-header text-center text-dark" style="overflow:auto">Announcements</div>

            @* TODO: Add announcements *@
        </div>
    </div>
</div>
@section scripts{

    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}