@model AllAnnouncementsModel
@{
    ViewData["Title"] = "AllAnnouncements";
}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Announcements</h6>
        </div>
        @await Html.PartialAsync("AnnouncementCreatePartial", Model.Announcement)

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Author</th>
                            <th>Content</th>
                            <th>PublishedOn</th>
                            <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Author</th>
                            <th>Content</th>
                            <th>PublishedOn</th>
                            <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var announcement in Model.Announcements)
                        {
                            <tr>
                                <td>@announcement.Author</td>
                                <td>@announcement.Content</td>
                                <td>@announcement.PublishedOn</td>
                                <td>
                                    <a asp-action="DeleteAnnouncement" asp-controller="Admins" asp-area="Administration" asp-route-id="@announcement.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

@*@section scripts{

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_MyScriptsPartial"); }
}*@