@{
    ViewData["Title"] = "Error";
}


    <div class="jumbotron-fluid justify-content-center" style="margin-top: 10em">
        <img src="~/images/sorry.png" alt="Something is wrong" class="col-4 offset-4">
        <p class="text-dark text-center">Sorry something went wrong!</p>
        <p class="text-dark text-center">Please, try again later! If the problem continues - contact out support!</p>
    </div>